.quote-card-container{
    background: #fff;
    width: 80%;
    margin: auto;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    .quote-content{
        .quote-box{
                word-break: break-word;
                font-size: 16px;
                margin-bottom: 10px;
                .quote{
                    display: flex;
                    margin-bottom: 10px;
                    .quote-icon{
                        color:  #F97C50 ;
                        height: 12px;
                        width: 12px;
                    }
                    .quote-content{
                        padding-top: 5px;
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }

            .quote-author{
                margin-left: 25px;
                font-size: 14px;
                color: #574052;
            }
        }
        .tags-container{
            margin-left: 25px;
            .tags-div{
                .tag-title{
                    margin-right: 10px;
                    color: #828282 ;
                }
                .quote-tag{
                    border-radius: 20px;
                    /* padding: 10px; */
                    background: #f0f0f1;
                    padding: 5px 10px;
                    font-size: 12px;
                    font-weight: 700;
                    margin-right: 10px;
                }
            }
 
        }
        .share-div{
            margin-left: 25px;
            margin-bottom: 10px;
            .share-icon{
                color: #f97c50;
                font-size: 14px;
                margin-right: 10px;
                font-weight: 700;
            }
            .share-span{
                color: #828282;
            }
        }
    }
}