.quotes-main-container{
        display: flex;
    .quotes-card-main-container{
        width: 70%;
        margin-bottom: 20px;
        .quotes-div{
            ///width: 80%;
            margin: auto;
        }
    }
    .tags-main-container{
            width: 28%;
            margin-right: 30px;
            background: white;
            height: fit-content;
            border-radius: 5px;
            position: sticky;
            top: 0;
    }
}