.post-main-container{
    width : 60%;
    .add-post-container{
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        .add-post-div{
            display: flex;
            /* width: 547px; */
            margin-right: auto;
            align-items: center;
            position: relative;
            .profile-avatar{
                margin-right: 20px;
            }
            .post-area{
                    height: 40px;
                    width: 528px;
                    border-radius: 20px;
                    padding-right: 43px;
            }
            .add-post-icon{
                display: block;
                position: absolute;
                right: 33px;
                //margin-top: 10px;
                color: #F97C50;
                cursor: pointer;
            }
        }
    }
}