.follow-list-container{
    .follow-heading{
         font-size: 20px;
         margin-bottom: 12px;
         color:#574052 ;
    }
        .follow-card-container{
            overflow: auto;
            height: 420px;
            padding-right: 20px;
        }
}