.post-card-main-div{
    display: flex;
    width: 100%;
    background: whitw;
    background: white;
    padding: 20px;
    box-shadow: 0 15px 35px  rgba(50,50,93,0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    .post-card-avatar-div{
        margin-right: 20px;
        padding-top: 5px;
        .user-dp{
            
        }
    }
    .post-card-desc-div{
          width: 542px;
        word-wrap: break-word;
        .post-author-div{
            font-size: 16px;
            font-weight: 700;
            padding: 5px 0 5px 0;
            a{
                color: #574052 !important ;
            }
        }
        .post-date-div{
            color: #828282 ;
            //padding: 5px 0 5px 0;
        }
        .postDesc-div{
            padding: 10px 20px 5px 0px;
            line-height: 1.9;
        }
        .likes-comments-div{
            padding: 5px 0 5px 0;
            .likes-div{
                margin-right: 5px;
                .likes-type{
                    margin-right: 5px;
                }
                .noOfLikes-div{
                    font-size: 14px;
                    color:#828282 ;
                    .sparks-title{
                        margin-left: 5px;
                    }
                }
            }
            .comments-div{
                margin: 11px 0 5px 0;
                position: relative;
                .comment-avatar{
                    position: absolute;
                    left: 0px;
                   // margin-left: 10px;
                  //  margin-top: 11px;
                  //  margin-right: 10px;
                    left: 6px;
                    margin: 6px;
                    width: 27px  !important;
                    height: 26px !important;
                    /* height: 29px; */
                    line-height: 26px;
                    font-size: 13px;
                }
                .comment-area{
                        position: relative;
                        padding: 6px 35px 7px 46px;
                        border-radius: 20px;
                        //height: 42px !important;
                }
                .send-comment-icon{
                       position: absolute;
                        right: 6px;
                        padding: 9px;
                        padding-top: 13px;
                        color:#F97C50 ;
                }
            }

        }
    }
}