.home-layout{
    box-sizing: border-box;
   background-color: #F2F2F2;
        .nav-main-div{
            display: flex;
            justify-content: space-between;
            .logo-div{
                width: 18%;
            }
            .nav-div{
                width: 40%;
                box-shadow: 0 15px 35px rgba(50,50,93,0.1);
                padding-top: 6px;
                height: 74px;
                background: #fff;
                border-radius: 0 0px 20px 20px;
                text-align: center;
                .nav-menu{
                        text-align: center;
                        border-bottom: none;
                    .nav-item{
                            width: 80px;
                            margin: 0 15px 0 15px;
                            &.ant-menu-item-selected{
                                //color: #1890ff;
                                border-bottom: 3px solid #F97C50;
                            }
                            a{
                                 color: #828282 !important;
                            }
                    }
                    .nav-item:hover{
                        border-bottom: 3px solid #F97C50;
                    }
                }
            }
            .profile-dropDown-div{
                display: flex;
                width: 200px;
                background: #fff;
                align-items: center;
                border-radius: 0 0 20px 20px;
                box-shadow: 0 15px 35px rgba(50,50,93,0.1);
                margin-right: 40px;
                width: 18%;
                text-align: center;
                padding: 0 20px;
                .profile-pic-div{
                    margin: 0 12px;
                }
                .dropDown-overlay{
                    .dropDown{
                        .dropDown-div{
                            font-size: 15px;
                            .arrow-down-icon{
                              margin: 0 12px;
                        }
                    }
                }
            }
        }
        
    }
    .home-layout-content{
        height: 551px;
        overflow-y: auto;
        //background-color: #F2F2F2;
    }
}

